* {
  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background: #E2DFCD;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    border: black 5px solid;
    padding: 50px;          
    margin: 50px;
    max-width: 200vh;
    max-height: 100vw;
}
     

img {
    height: 10em;
    width: 10em;
}

.meter-panel {
    height: 200px;
    width: 1700px;
    background-image: url(images/wooden-texture.jpg);
 
}
.meters {
    height: 190px;
    width: 800px;
   
    position: absolute;
    top: 100px;
    left: 530px;
}
.vm1 {
   position: absolute;
   top: 14px;
    left: 205px;

    
}
.vm2 {
    position: absolute;
   top:16px;
    left: 597px;
   
    
}
.am1 {
  
  position: absolute;
   top:5px;
    left: 5px;

    
}
.am2 {
 
   position: absolute;
   top:7px;
    left: 394px;

  
}
.mcb {
    position: absolute;
    top: 108px;
    left: 100px;

}

.starter-handle {
    position: absolute;
    top: 159px;
    left: 280px;
    
}
.starter-body{ 
    position: absolute;
    top: 75px;
    left: 240px;
    
}